@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;900&family=Poppins:wght@300;400;500;600;700;900&display=swap');
:root{
    --blue: #292991;
    --blue-rgb: 41,41,145;
    --darkblue: #050850;
    --darkblue-rgb: 5,8,80;
    --nunito: 'Nunito', sans-serif;
    --poppins: 'Poppins', sans-serif;
    --common-bg: linear-gradient(200deg, var(--blue) 0%, #0E0E35 100%);
}
body{
    font-family: 'Nunito', sans-serif;
    position: relative;
}
.l{box-shadow: inset 0 0 0 1px red;}
.icon{
    stroke: unset;
    stroke-width: 0px;
    transition: inherit;
    fill: currentColor;
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
    vertical-align: -0.125em;
    transform-origin: center;
}
.icon-1x{transform: scale(1.1)} .icon-2x{transform: scale(1.2)}
.icon-3x{transform: scale(1.3)} .icon-4x{transform: scale(1.4)}
.icon-5x{transform: scale(1.5)} .icon-6x{transform: scale(1.6)}
.icon-7x{transform: scale(1.7)} .icon-8x{transform: scale(1.8)}

.heading{
    font-family: var(--poppins);
    font-weight: 700;
    color: var(--darkblue);
}
.sub-heading{
    display: inline-block;
    position: relative;
    font-size: 19px;
    color: var(--blue);
    padding-top: 10px;
    padding-bottom: 22px;
    &::after{
        content: '';
        position: absolute;
        width: 260px;
        height: 1px;
        background: var(--blue);
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
    }
    &.text-white{
        &::after{
            background: #ffffff;
        }
    }
}

header{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 5px 0;
    transition: 300ms;
    &.active{
        position: fixed;
        background: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        animation: headerfixed 600ms linear;
        .logo-brand{
            img{
                filter: none;
            }
        }
        .nav-item {
            .nav-link {
                color: var(--blue);
            }
        }
        .btn-outline-light{
            color: var(--blue);
            border-color: var(--blue);
            &:hover{
                color: #fff;
                background-color: var(--blue);
                background: linear-gradient(200deg, #292991 0%, #0B0B2A 150%);
            }  
        }
        .btn-light{
            border-color: var(--blue);
        }
    }
    .logo-brand{
        display: inline-block;
        img{
            width: auto;
            max-width: 100%;
            filter: brightness(0) invert(1);
        }
    }
    .nav-item{
        .nav-link{
            color: #fff;
            font-weight: 600;
            &.show{
                opacity: 0.75;
            }
        }
    }
}
@keyframes headerfixed{
    0% {transform: translateY(-70px); opacity: 0;}
    100% {transform: translateY(0px); opacity: 1;}
}

.mobile-menu{
    display: none;
}
@media (max-width: 1024px) {
    .mobile-menu{
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }
    .for-mobile{
        width: 100%;
        max-width: 240px;
        // display: none;
        padding-top: 14px;
        text-align: center!important;
        background-color: #fff;
        position: fixed;
        top: 60px;
        height: calc(100vh - 60px);
        right: -300px;
        transition: 300ms;
        overflow: hidden;
        overflow-y: auto;
        .nav{
            display: block;
            .nav-item{
                display: block;
                text-align: left;
            }
        }
        
    }
    body.active{
        overflow: hidden;
        .for-mobile{
            right: 0;
        }
    }
    header{
        .mobile-row{
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-between;
            .mobile-menu{
                width: 40px;
                min-width: 40px;
                min-height: 40px;
                height: 40px;
                background-color: #fff;
                border: 1px solid #ccc;
                border-radius: 6px;
                margin-left: 14px;
                color: var(--blue);
            }
        }
    }
}
.dropdown-menu-center{
    right: auto!important;
    top: 100%!important;
    left: 50%!important;
    transform: translate(-50%, 0)!important;
}
.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: var(--blue);
    background-image: var(--common-bg);
}
.top-banner{
    padding-top: 170px;
    padding-bottom: 80px;
    background-image: var(--common-bg);
}
.text-changer{
    font-size: 48px;
    line-height: 1.25;
    word-spacing: 5px;
    font-weight: 700;
}
.text-inner-wrapper{
    min-width: 260px;
    display: inline-block;
    height: 67px;
    position: relative;
    padding-left: 2px;
    text-align: left;
    // border: 1px solid red;
    vertical-align: top;
    .word {
        position: absolute;
        width: 260px;
        white-space: nowrap;
        opacity: 0;
        top: 0;
        span{
            display: inline-block!important;
        }
        .letter {
            display: inline-block;
            position: relative;
            transform: translateZ(25px);
            transform-origin: 50% 50% 25px;
            &.out {
                transform: rotateX(90deg);
                transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
            }
            &.behind{
                transform: rotateX(-90deg);
            }
            &.in{
                transform: rotateX(0deg);
                transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            }
            &:empty{
                margin-left: 10px;
            }
        }
    }
}

.products-section{
    background-color: #E3EEF8;
    padding-top: 70px;
    padding-bottom: 60px;  
}
.solutions-section{
    background-color: #ffffff;
    padding-top: 70px;
    padding-bottom: 80px;
}
.card-blue{
    min-height: 100%;
    border: none;
    border-radius: 20px;
    box-shadow: inset 0 0 0 2px #fff, 0px 0px 10px 0px rgba(0,0,0,0.5);
    background-color: var(--blue);
    background-image: linear-gradient(200deg, var(--blue) 0%, #0E0E35 100%);
    color: #fff;
    .card-title{
        font-weight: 600;
    }
}
.partners-section{
    padding-top: 70px;
    padding-bottom: 70px; 
    background-color: var(--blue);
    background-image: linear-gradient(200deg, var(--blue) 0%, #0E0E35 100%); 
    .item{
        img{
            filter: brightness(0) invert(1);
            transition: 0.75s cubic-bezier(0.215, 0.610, 0.355, 1);
            &:hover{
                filter: none;
            }
        }
    } 
}
.wedo-section{
    background-color: #E3EEF8;
    padding-top: 70px;
    padding-bottom: 80px; 
    .border-startend{
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
    }
}
.testimonials-section{
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: var(--blue);
    background-image: linear-gradient(200deg, var(--blue) 0%, #0E0E35 100%);
    .owl-stage{
        padding: 60px 0px;
    }
    .owl-item {
        .item{
            opacity: 0.5;
            transition: 300ms all;
            transform-origin: center;
        }
        &.active.center{
            z-index: 2;
            .item{
                transform: scale(1.15);
                opacity: 1;
                z-index: 2;
            }
        }
    }
}
.card-testimonials{
    background: #F3F3F3;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.59);
    border-radius: 20px;
    font-size: 14px;
    .card-header{
        background-color: transparent;
        img{
            width: 44px;
        }
    }
}
.customers-section{
    padding-top: 70px;
    padding-bottom: 70px; 
    background-color: #fff;
    .item{
        img{
            // filter: brightness(0) invert(1);
            transition: 0.75s cubic-bezier(0.215, 0.610, 0.355, 1);
            &:hover{
                filter: grayscale(1);
            }
        }
    }
}
.contact-section{
    background-color: #E3EEF8;
    padding-top: 70px;
    padding-bottom: 70px;
}

footer{
    position: relative;
    padding-top: 40px;
    padding-bottom: 140px;
    background-color: var(--blue);
    background-image: linear-gradient(200deg, var(--blue) 0%, #0B0B2A 100%);
    .footer-watermark{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0.075;
        z-index: 0;
        img{
            width: 100%;
            max-width: 1020px;
            max-height: 420px;
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            bottom: 0;
            object-fit: cover;
        }
    }
    h4{
        font-family: var(--poppins);
        font-weight: 600;
        color: #fff;
        margin-bottom: 16px;
        margin-top: 26px;
    }
    p{
        color: #fff;
        a{
            color: inherit;
            text-decoration: none;
            border-bottom: 1px solid rgba(255,255,255,.25);
            transition: 200ms;
            margin-left: 3px;
            &:hover{
                color: #ccc;
                border-bottom: 1px solid rgba(255,255,255,.5);
            }
        }
    }
    .footer-links{
        list-style-type: none;
        padding: 0;
        li{
            margin-bottom: 9px;
            a{
                color: #fff;
                text-decoration: none;
                transition: 200ms;
                &:hover{
                    color: #ccc;
                }
            }
        }
    }
    address{
        a{
            display: flex;
            position: relative;
            text-decoration: none;
            color: #ffffff;
            margin-bottom: 12px;
            &:hover{
                color: #ccc;
            }
            .icon{
                min-width: 20px;
                min-height: 20px;
                margin-right: 12px;
                margin-top: 3px;
            }
        }
    }
}
*{
    scrollbar-width: thin;
}
::-webkit-scrollbar{width:4px;height:2px;border-radius:0}
::-webkit-scrollbar-track{background:rgba(0,0,0,.075)}
::-webkit-scrollbar-thumb{background:rgba(var(--blue-rgb),.75)}
::-webkit-scrollbar-thumb:hover{background:rgba(var(--blue-rgb),1)}
.btn-primary{
    border: none;
    background-color: var(--blue);
    background: linear-gradient(200deg, #292991 0%, #0B0B2A 150%);
    &:hover{
        background: linear-gradient(50deg, #292991 0%, #0B0B2A 150%);
    }
}
.btn-light{
    color: var(--darkblue);
    &:hover{
        color: #fff;
        background: linear-gradient(200deg, #292991 0%, #0B0B2A 150%);
    }
}
.h-38px{height: 38px;}
.h-40px{height: 40px;}
.max-wh100{width: 100%; max-width: 100px; height: 100%; max-height: 100px;}
.max-wh120{width: 100%; max-width: 120px; height: 100%; max-height: 120px;}
.max-wh192{width: 100%; max-width: 192px; height: 100%; max-height: 192px;}

.mmwh-60{min-width: 60px; max-width: 60px; min-height: 60px; max-height: 60px;}
.fw-semibold{font-weight: 600;}
.fw-bolder{font-weight: 900!important;}
.ff-nunito{font-family: var(--nunito);}
.ff-poppins{font-family: var(--poppins);}
.pt-100{padding-top: 100px;}
.py-100{padding-top: 100px; padding-bottom: 100px;}
.bg-deemblue{background-color: #E3EEF8;}
.text-primary, .text-blue{color: var(--blue)}
.text-darkblue{color: var(--darkblue)!important}
.text-orange{color: #ED8246}
.text-green{color: #08C955}
.text-red{color:  #FF5454;}

/*Start | Accordion*/ 
.accordion-button{
    position: relative;
    &:focus{
        box-shadow: none;
    }
}
.accordion-button:not(.collapsed){
    box-shadow: none;
    pointer-events: none;
}
.accordion-button:not(.collapsed) .bar-top{
    opacity: 1;
}
.bar-top{
    width: 100%;
    height: 3px;
    top: -1px;
    left: 0;
    position: absolute;
    border-radius: 3px 3px 0 0;
    opacity: 0;
    overflow: hidden;
}
// .bar-orange{background: rgba(237, 130, 70, 0.40)}
.bar-orange{background: #ed824666}
// .bar-green{background: rgba(8, 201, 85, 0.40)}
.bar-green{background: #08c95566}
.bar-red{background: rgba(255, 84, 84, 0.40)}
.bar-top::after{
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 2;
    transition: width 4.5s ease;
}
.accordion-button.active .bar-orange::after{
    width: 100%;
    background-color: rgba(237, 130, 70, 1)
}
.accordion-button.active .bar-green::after{
    width: 100%;
    background-color: rgba(8, 201, 85, 1)
}
.accordion-button.active .bar-red::after{
    width: 100%;
    background-color: rgba(255, 84, 84, 1)
}
.colhide{
    display: none;
    transform: translateY(-100px);
    opacity: 0;
}
.colhide.active{
    opacity: 1;
    display: block;
    animation: colhide 500ms linear;
    animation-fill-mode: forwards;
}
@keyframes colhide {
    0%{transform: translateY(-50px); opacity: 0;}
    100%{transform: translateY(0px); opacity: 1;}
}
/*End Accordion*/ 


@media(max-width: 991.99px){
    .wedo-section{
        .border-startend{
            border-left: none;
        }
    }
}
@media(max-width: 640px){
    .testimonials-section{
        .owl-stage{
            padding: 30px 0px;
        }
        .owl-item {
            .item{
                transform: scale(0.8);
            }
            &.active.center{
                .item{
                    transform: scale(1);
                }
            }
        }
    }
}
@media(max-width: 575.99px){
    .wedo-section{
        .border-startend{
            border-left: none;
            border-right: none;
            border-top: 1px dashed rgba(var(--blue-rgb),0.25);
            border-bottom: 1px dashed rgba(var(--blue-rgb),0.25);
            padding-top: 15px;
            padding-bottom: 24px;
        }
    }
}