@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;900&family=Poppins:wght@300;400;500;600;700;900&display=swap");
:root {
  --blue: #292991;
  --blue-rgb: 41,41,145;
  --darkblue: #050850;
  --darkblue-rgb: 5,8,80;
  --nunito: 'Nunito', sans-serif;
  --poppins: 'Poppins', sans-serif;
  --common-bg: linear-gradient(200deg, var(--blue) 0%, #0E0E35 100%);
}

body {
  font-family: 'Nunito', sans-serif;
  position: relative;
}

.l {
  -webkit-box-shadow: inset 0 0 0 1px red;
          box-shadow: inset 0 0 0 1px red;
}

.icon {
  stroke: unset;
  stroke-width: 0px;
  -webkit-transition: inherit;
  transition: inherit;
  fill: currentColor;
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
  vertical-align: -0.125em;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.icon-1x {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.icon-2x {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.icon-3x {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.icon-4x {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.icon-5x {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.icon-6x {
  -webkit-transform: scale(1.6);
          transform: scale(1.6);
}

.icon-7x {
  -webkit-transform: scale(1.7);
          transform: scale(1.7);
}

.icon-8x {
  -webkit-transform: scale(1.8);
          transform: scale(1.8);
}

.heading {
  font-family: var(--poppins);
  font-weight: 700;
  color: var(--darkblue);
}

.sub-heading {
  display: inline-block;
  position: relative;
  font-size: 19px;
  color: var(--blue);
  padding-top: 10px;
  padding-bottom: 22px;
}

.sub-heading::after {
  content: '';
  position: absolute;
  width: 260px;
  height: 1px;
  background: var(--blue);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
}

.sub-heading.text-white::after {
  background: #ffffff;
}

header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 5px 0;
  -webkit-transition: 300ms;
  transition: 300ms;
}

header.active {
  position: fixed;
  background: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-animation: headerfixed 600ms linear;
          animation: headerfixed 600ms linear;
}

header.active .logo-brand img {
  -webkit-filter: none;
          filter: none;
}

header.active .nav-item .nav-link {
  color: var(--blue);
}

header.active .btn-outline-light {
  color: var(--blue);
  border-color: var(--blue);
}

header.active .btn-outline-light:hover {
  color: #fff;
  background-color: var(--blue);
  background: linear-gradient(200deg, #292991 0%, #0B0B2A 150%);
}

header.active .btn-light {
  border-color: var(--blue);
}

header .logo-brand {
  display: inline-block;
}

header .logo-brand img {
  width: auto;
  max-width: 100%;
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

header .nav-item .nav-link {
  color: #fff;
  font-weight: 600;
}

header .nav-item .nav-link.show {
  opacity: 0.75;
}

@-webkit-keyframes headerfixed {
  0% {
    -webkit-transform: translateY(-70px);
            transform: translateY(-70px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes headerfixed {
  0% {
    -webkit-transform: translateY(-70px);
            transform: translateY(-70px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

.mobile-menu {
  display: none;
}

@media (max-width: 1024px) {
  .mobile-menu {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .for-mobile {
    width: 100%;
    max-width: 240px;
    padding-top: 14px;
    text-align: center !important;
    background-color: #fff;
    position: fixed;
    top: 60px;
    height: calc(100vh - 60px);
    right: -300px;
    -webkit-transition: 300ms;
    transition: 300ms;
    overflow: hidden;
    overflow-y: auto;
  }
  .for-mobile .nav {
    display: block;
  }
  .for-mobile .nav .nav-item {
    display: block;
    text-align: left;
  }
  body.active {
    overflow: hidden;
  }
  body.active .for-mobile {
    right: 0;
  }
  header .mobile-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .mobile-row .mobile-menu {
    width: 40px;
    min-width: 40px;
    min-height: 40px;
    height: 40px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-left: 14px;
    color: var(--blue);
  }
}

.dropdown-menu-center {
  right: auto !important;
  top: 100% !important;
  left: 50% !important;
  -webkit-transform: translate(-50%, 0) !important;
          transform: translate(-50%, 0) !important;
}

.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: var(--blue);
  background-image: var(--common-bg);
}

.top-banner {
  padding-top: 170px;
  padding-bottom: 80px;
  background-image: var(--common-bg);
}

.text-changer {
  font-size: 48px;
  line-height: 1.25;
  word-spacing: 5px;
  font-weight: 700;
}

.text-inner-wrapper {
  min-width: 260px;
  display: inline-block;
  height: 67px;
  position: relative;
  padding-left: 2px;
  text-align: left;
  vertical-align: top;
}

.text-inner-wrapper .word {
  position: absolute;
  width: 260px;
  white-space: nowrap;
  opacity: 0;
  top: 0;
}

.text-inner-wrapper .word span {
  display: inline-block !important;
}

.text-inner-wrapper .word .letter {
  display: inline-block;
  position: relative;
  -webkit-transform: translateZ(25px);
          transform: translateZ(25px);
  -webkit-transform-origin: 50% 50% 25px;
          transform-origin: 50% 50% 25px;
}

.text-inner-wrapper .word .letter.out {
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
  -webkit-transition: -webkit-transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: -webkit-transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.text-inner-wrapper .word .letter.behind {
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
}

.text-inner-wrapper .word .letter.in {
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
  -webkit-transition: -webkit-transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: -webkit-transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.text-inner-wrapper .word .letter:empty {
  margin-left: 10px;
}

.products-section {
  background-color: #E3EEF8;
  padding-top: 70px;
  padding-bottom: 60px;
}

.solutions-section {
  background-color: #ffffff;
  padding-top: 70px;
  padding-bottom: 80px;
}

.card-blue {
  min-height: 100%;
  border: none;
  border-radius: 20px;
  -webkit-box-shadow: inset 0 0 0 2px #fff, 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0 0 2px #fff, 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  background-color: var(--blue);
  background-image: linear-gradient(200deg, var(--blue) 0%, #0E0E35 100%);
  color: #fff;
}

.card-blue .card-title {
  font-weight: 600;
}

.partners-section {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: var(--blue);
  background-image: linear-gradient(200deg, var(--blue) 0%, #0E0E35 100%);
}

.partners-section .item img {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
  -webkit-transition: 0.75s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.75s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.partners-section .item img:hover {
  -webkit-filter: none;
          filter: none;
}

.wedo-section {
  background-color: #E3EEF8;
  padding-top: 70px;
  padding-bottom: 80px;
}

.wedo-section .border-startend {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.testimonials-section {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: var(--blue);
  background-image: linear-gradient(200deg, var(--blue) 0%, #0E0E35 100%);
}

.testimonials-section .owl-stage {
  padding: 60px 0px;
}

.testimonials-section .owl-item .item {
  opacity: 0.5;
  -webkit-transition: 300ms all;
  transition: 300ms all;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.testimonials-section .owl-item.active.center {
  z-index: 2;
}

.testimonials-section .owl-item.active.center .item {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  opacity: 1;
  z-index: 2;
}

.card-testimonials {
  background: #F3F3F3;
  -webkit-box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.59);
          box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.59);
  border-radius: 20px;
  font-size: 14px;
}

.card-testimonials .card-header {
  background-color: transparent;
}

.card-testimonials .card-header img {
  width: 44px;
}

.customers-section {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #fff;
}

.customers-section .item img {
  -webkit-transition: 0.75s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.75s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.customers-section .item img:hover {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.contact-section {
  background-color: #E3EEF8;
  padding-top: 70px;
  padding-bottom: 70px;
}

footer {
  position: relative;
  padding-top: 40px;
  padding-bottom: 140px;
  background-color: var(--blue);
  background-image: linear-gradient(200deg, var(--blue) 0%, #0B0B2A 100%);
}

footer .footer-watermark {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.075;
  z-index: 0;
}

footer .footer-watermark img {
  width: 100%;
  max-width: 1020px;
  max-height: 420px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

footer h4 {
  font-family: var(--poppins);
  font-weight: 600;
  color: #fff;
  margin-bottom: 16px;
  margin-top: 26px;
}

footer p {
  color: #fff;
}

footer p a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  -webkit-transition: 200ms;
  transition: 200ms;
  margin-left: 3px;
}

footer p a:hover {
  color: #ccc;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

footer .footer-links {
  list-style-type: none;
  padding: 0;
}

footer .footer-links li {
  margin-bottom: 9px;
}

footer .footer-links li a {
  color: #fff;
  text-decoration: none;
  -webkit-transition: 200ms;
  transition: 200ms;
}

footer .footer-links li a:hover {
  color: #ccc;
}

footer address a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  text-decoration: none;
  color: #ffffff;
  margin-bottom: 12px;
}

footer address a:hover {
  color: #ccc;
}

footer address a .icon {
  min-width: 20px;
  min-height: 20px;
  margin-right: 12px;
  margin-top: 3px;
}

* {
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 4px;
  height: 2px;
  border-radius: 0;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.075);
}

::-webkit-scrollbar-thumb {
  background: rgba(var(--blue-rgb), 0.75);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(var(--blue-rgb), 1);
}

.btn-primary {
  border: none;
  background-color: var(--blue);
  background: linear-gradient(200deg, #292991 0%, #0B0B2A 150%);
}

.btn-primary:hover {
  background: linear-gradient(50deg, #292991 0%, #0B0B2A 150%);
}

.btn-light {
  color: var(--darkblue);
}

.btn-light:hover {
  color: #fff;
  background: linear-gradient(200deg, #292991 0%, #0B0B2A 150%);
}

.h-38px {
  height: 38px;
}

.h-40px {
  height: 40px;
}

.max-wh100 {
  width: 100%;
  max-width: 100px;
  height: 100%;
  max-height: 100px;
}

.max-wh120 {
  width: 100%;
  max-width: 120px;
  height: 100%;
  max-height: 120px;
}

.max-wh192 {
  width: 100%;
  max-width: 192px;
  height: 100%;
  max-height: 192px;
}

.mmwh-60 {
  min-width: 60px;
  max-width: 60px;
  min-height: 60px;
  max-height: 60px;
}

.fw-semibold {
  font-weight: 600;
}

.fw-bolder {
  font-weight: 900 !important;
}

.ff-nunito {
  font-family: var(--nunito);
}

.ff-poppins {
  font-family: var(--poppins);
}

.pt-100 {
  padding-top: 100px;
}

.py-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.bg-deemblue {
  background-color: #E3EEF8;
}

.text-primary, .text-blue {
  color: var(--blue);
}

.text-darkblue {
  color: var(--darkblue) !important;
}

.text-orange {
  color: #ED8246;
}

.text-green {
  color: #08C955;
}

.text-red {
  color: #FF5454;
}

/*Start | Accordion*/
.accordion-button {
  position: relative;
}

.accordion-button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.accordion-button:not(.collapsed) {
  -webkit-box-shadow: none;
          box-shadow: none;
  pointer-events: none;
}

.accordion-button:not(.collapsed) .bar-top {
  opacity: 1;
}

.bar-top {
  width: 100%;
  height: 3px;
  top: -1px;
  left: 0;
  position: absolute;
  border-radius: 3px 3px 0 0;
  opacity: 0;
  overflow: hidden;
}

.bar-orange {
  background: #ed824666;
}

.bar-green {
  background: #08c95566;
}

.bar-red {
  background: rgba(255, 84, 84, 0.4);
}

.bar-top::after {
  content: '';
  position: absolute;
  width: 0;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  -webkit-transition: width 4.5s ease;
  transition: width 4.5s ease;
}

.accordion-button.active .bar-orange::after {
  width: 100%;
  background-color: #ed8246;
}

.accordion-button.active .bar-green::after {
  width: 100%;
  background-color: #08c955;
}

.accordion-button.active .bar-red::after {
  width: 100%;
  background-color: #ff5454;
}

.colhide {
  display: none;
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  opacity: 0;
}

.colhide.active {
  opacity: 1;
  display: block;
  -webkit-animation: colhide 500ms linear;
          animation: colhide 500ms linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes colhide {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes colhide {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

/*End Accordion*/
@media (max-width: 991.99px) {
  .wedo-section .border-startend {
    border-left: none;
  }
}

@media (max-width: 640px) {
  .testimonials-section .owl-stage {
    padding: 30px 0px;
  }
  .testimonials-section .owl-item .item {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  .testimonials-section .owl-item.active.center .item {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media (max-width: 575.99px) {
  .wedo-section .border-startend {
    border-left: none;
    border-right: none;
    border-top: 1px dashed rgba(var(--blue-rgb), 0.25);
    border-bottom: 1px dashed rgba(var(--blue-rgb), 0.25);
    padding-top: 15px;
    padding-bottom: 24px;
  }
}

@media (min-width:1025px) { 
  .nav-link {
    display: block;
    padding: .5rem 1rem;
    color: #fff !important;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

}

@media (max-width: 1024px) and (min-width: 1000px) {
  .button_div {
      position: relative;
      top: -54px;
      padding-right: 86px;
  }

  .nav-link {
    display: block;
    padding: .5rem 1rem;
    color: #0d6efd !important;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
}

@media (max-width: 1000px) and (min-width: 768px) {
 /* .button_div {
      position: relative;
      top: -45px;
      padding-right: 86px;
  }
*/

.text-changer {
    font-size: 40px !important;
    line-height: 1.25;
    word-spacing: 5px;
    font-weight: 700;
}

  .mobile-menu {
    position: absolute;
    right: 15px;
}
.nav-link {
    display: block;
    padding: .5rem 1rem;
    color: #0d6efd !important;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
}

@media (max-width: 767px) and (min-width: 320px) {
  .logo-brand {
    width: 25%;
}

.btn_b {
    padding: 5px;
    font-size: 10px;
}

.btn_b {
    padding-top: 3px !important;
    font-size: 10px;
    padding-left: 8px !important;
    padding-right: 8px !important;
    padding-bottom: 3px !important; 
    margin-left: 1px !important;
}
header .mobile-row .mobile-menu {
    width: 30px !important;
    min-width: 25px !important;
    min-height: 25px !important;
    height: 25px !important;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-left: 14px;
    color: var(--blue);
    z-index: 999;
    position: relative;
}


.top-banner {
    padding-top: 95px;
    padding-bottom: 80px;
    background-image: var(--common-bg);
}
.text-changer {
    font-size: 35px;
    line-height: 1.25;
    word-spacing: 3px;
    font-weight: 700;
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
    color: #0d6efd !important;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}


}

@media (max-width: 375px) and (min-width: 320px) {
.button_div {
    text-align: right !important;
    position: relative;
    top: -39px;
   padding-right: 70px !important;
}
.logo-brand {
    width: 20%;
}
}

@media (max-width: 374px) and (min-width: 320px) { 
.button_div {
    text-align: right !important;
    position: relative;
    top: -35px;
   padding-right: 65px !important;
}

}

@media (max-width: 425px) and (min-width: 376px) {
.button_div {
    text-align: right !important;
    position: relative;
    top: -42px;
   padding-right: 50px !important;
}

.logo-brand {
    width: 20%;
}
}

.mobile-menu {
    position: absolute;
    right: 5px;
}
header.active .nav-item .nav-link {
    color: #292991 !important;
}



/*# sourceMappingURL=style.css.map */